/**
    Project: HTML5 Canvas Clock
    Author: N'chaka Benjamin
    Site: http://njbenjamin.com
    Date: Nov-20-2018
*/

body{
	text-align: center;
}
#clock{
	width: 400px;
	height: 400px;
	border: 1px solid transparent;
	border-radius: 100%;
	background: red;
	position: inline-block;
}